.tippy {
  position: relative;
  transition: background-color 0.2s ease;
}

.tippy .tippytext {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  z-index: 1;
  display: inline-block;

  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100% /* fit-content*/ ;

  height: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 80px #111;
  font-size: 14px;
}

.tippy:hover .tippytext {
  visibility: visible;
}

.tippy:hover {
  background-color: #0066fc;
}

.codeBox {
  background-color: rgb(33, 37, 41);
  padding: 10px;
  color: #CCCCCC;
  border-radius: 10px;
  font-size: 14px;
  overflow-x: auto;
}

.codeBox::before {
  content: "Code:";
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #CCCCCC;
}

details {
  border-radius: 10px 10px;
  background-color: #2f2f2f;
}

details:last-child {
  margin-bottom: 120px;
}

details[open] summary~* {
  animation: sweep .2s ease-in-out;

}

summary {
  position: relative;
  padding: 3px;
  cursor: pointer;
  border-radius: 6px;
  background-color: rgba(38, 66, 73, 0.5);
  margin: 1px;
}

summary a {
  display: inline-block;
  position: absolute;
  right: 6px;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  display: block;
  font-size: 14px;
  background-color: #2f2f2f;
  color: #e7f6f2;
  border-radius: 6px;
  padding: 10px;
}