#fixed-tooltiptext-in {
    position: fixed;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    border: 3px solid #2C3333;
    border-radius: 6px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 3px;
    visibility: hidden;
    background-color: #333;
    z-index: 1;
}
.tooltip-in:hover #fixed-tooltiptext-in{
visibility: visible;
border: 3px solid #2C3333;
}
.tooltip-in {
    position: relative;
    display: inline-block;
    transition: background-color 0.5s ease;
}
.tooltip-in:hover{
    color: #E7F6F2;
    background-color: #2C3333;
}
/*Tooltip Outlines*/
.tippy {
    position: relative;
    /*display: inline-block;*/
    transition: background-color 1s ease;
}

/* tooltip (the box) and the tooltiptext (the text) is styled this way. */
.tippy .tippytext {
    visibility: hidden;
    width: 400px;
    height: auto;
    background-color: #395B64;
    color: #E7F6F2;
    margin-left: 20px;
    padding-left: 3px;
    position: absolute;
    z-index: 1;
}
.tippy:hover .tippytext {
    visibility: visible;
}
.tippy:hover{
    background-color: #A5C9CA;
}
.codeBox{
    border: 2px solid #A5C9CA;
    background-color: #DFB;
}

details{
    border-radius: 15px 15px;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;

  }
  
  @keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }

summary {
    position: relative;
    border: 3px solid  #A5C9CA;
    padding: 3px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #E7F6F2;

  }
  
  summary b {
    display: inline-block;
    position: absolute;
    right: 6px;
    transform: scaleX(-1);
  }

.divider-border{
    border: 3px solid  #A5C9CA;
    border-radius: 12px;
}

.largetitle {
    text-align: center;
    padding: 40px;
}



/*SEARCH FUNCTION STYLE */
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  button {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  
    
