.tippy {
  position: relative;
  transition: background-color 0.2s ease;
}

.tippy .tippytext {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  z-index: 1;
  display: inline-block;

  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100% /* fit-content*/ ;

  height: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 80px #111;
  font-size: 14px;
}

.tippy:hover .tippytext {
  visibility: visible;
}

.tippy:hover {
  background-color: #395B64;
}

.codeBox {
  background-color: rgb(33 37 41);
  padding: 5px;
  color: #CCCCCC;
}

details {
  border-radius: 10px 10px;
  background-color: #2f2f2f;
}

details:last-child {
  margin-bottom: 120px;
}

details[open] summary~* {
  animation: sweep .2s ease-in-out;

}

summary {
  position: relative;
  padding: 3px;
  cursor: pointer;
  border-radius: 6px;
  background-color: rgba(38, 66, 73, 0.5);
  margin: 1px;
}

summary a {
  display: inline-block;
  position: absolute;
  right: 6px;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  display: block;
  font-size: 14px;
  background-color: #2f2f2f;
  color: #e7f6f2;
  border-radius: 6px;
  padding: 10px;
}

/* SEARCH FUNCTION STYLE /
/ the container must be positioned relative: */

.autocomplete-items {
position: absolute;
border: 1px solid #9e9e9e;
border-bottom: none;
border-top: none;
z-index: 99;
/* position the autocomplete items to be the same width as the container: */
top: 100%;
left: 0;
right: 0;
background-color: #333;
}

.autocomplete-items div {
padding: 5px;
cursor: pointer;
background-color: #212529;
color: #fff;
border-bottom: 1px solid #9e9e9e;
}

.autocomplete-items div:hover {
/* when hovering an item: */
background-color: #9e9e9e;
color: #333;
}

.autocomplete-active {
/* when navigating through the items using the arrow keys: */
background-color: #fff !important;
color: #333 !important;
}
